
body{
	color: 	#EDE1B5;
	box-sizing:border-box;
	font-family: roboto sans-serif;
	background: #DDE7D4;
	margin: 0;
	padding: 0;
	height: 100%;
}

html{
	position: relative;
	min-height: 100%
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto';
	font-weight: 700;
}

h1{
	color: #EDE1B5;
}


h2{
	color: #202A2F;
	float: left;
	margin: 65px 809px 60px 0;
}
h3{
	color: #EDE1B5;
	padding:16px ;
	margin-bottom: 0px ;
}

h4,{
	color: #EDE1B5;
	margin-bottom: 25px;
}

h5{
	color: #EDE1B5;
	font-weight: 400;		
}

a{
	color: #EDE1B5;	
}

a:hover{
	color:#EDE1B5;
}

.container{
	width: 1170px;
	margin: 0 auto;
	text-align: center;
	overflow:hidden;
				
}

ul{
	justify-content: center;
}

/*-----Desktop Navigation----------*/
header{
	z-index: 9999999;

}

.header{
	width: 100% ;
	position: fixed;
	flex-direction: row;


}


.nav-container{
	margin: 0 auto;
	text-align: center;
	overflow:hidden;
	justify-content: space-between;	
}

.navigation{
	text-align: center;
	display: flex;
	font-size: 22px;
	height: 65px;
	list-style-type: none;	
	background-color: #202A2F;

}
.wrapper-link{
	padding-top: 15px;
	display: flex;
	margin: 0 auto;

}

.nav__link{
	text-decoration: none;
}

header li{
	margin-right: 50px;
}
header ul{
	justify-content: center;
}

.nav__item:last-child{
	margin-right: 0px;
}

.nav-phone{
	font-size: 13px;
	letter-spacing: 1px
}
.nav-phone span{
	font-size: 11px;
	letter-spacing: 1.3px;
}

.nav-phone-img{
	width: 13px;
	margin-right: 7px;
}


/*-------------------Mobile navigetion button-------*/


.menu-icon {
	z-index: 99;
	position: relative;
  	display: none;
 	 width: 30px;
  	height: 30px;
  	cursor: pointer;
  	margin: 25px 20px 0 0;
   
}

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active .menu-icon-line{
  background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/*---------------Mobile navigetion--------------------- */
.mobile-nav{
	z-index: 29;
	display: block;
	position: absolute;
	right: -350px;
	top: 0;
	bottom: 0; 
	width: 350px;
	height: 100vh;
	padding: 50px;
	color: #202A2F;
	background-color: #EDE1B5;
	opacity: 0.93;
	transition: transform 0.4s ease-in;
}
.mobile-nav--active{
	transform: translateX(-100%);
}

.mobile-nav__title{
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 30px;
}
.mobile-nav__list{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
.mobile-nav-main__item{
margin-bottom: 30px;
}
.mobile-nav-about__item{
margin-bottom: 30px;
}
.mobile-nav-product__item{
margin-bottom: 30px;
}
.mobile-nav-dilivery__item{
margin-bottom: 30px;
}
.mobile-nav-galary__item{
margin-bottom: 30px;
}

.mobile-nav__link{
	text-decoration: none;
	color: #202A2F;
	font-weight: 600;
	font-size: 22px;
}

.mobile-nav__link:hover{
	color: #202A2F;
	text-decoration: none;
}


.p-0{
	padding: 0;
}

.carousel-item {
	width: 100%;

}
.carousel-inner img{
	height: 642px;
}

.carousel-control-next-icon{
	background-image: url('../img/next.png');
	width: 50px;
	height: 70px;
}
.carousel-control-prev-icon{
	background-image: url('../img/prev.png');
	width: 50px;
	height: 70px;
}

.btn{
	width: 350px;
	height: 50px;
	background: #C7462E;
	border: 1px	solid #C7462E;
	border-radius: 15px;
	font-size: 30px;
	font-weight: 700;
	color: #EDE1B5;
	padding: 0 0 25px 0;
	margin-top: 50px;
}

.d-md-block{
	padding-bottom:145px;
}

.d-md-block p{
	font-size:30px ;
}


.block-product{
	width: 470px;
}

.header-line{
	background: #202A2F;

}

.bg-line{
	background-color: #C5BEA7;
}

.img-product img{
	width: 181px;
	height: 155px;
	padding-top: 15px
}

.first-img{
	margin-right: 70px;
}

.text-about{
	margin: 0 auto;
	width: 400px;
	text-align: left;
	padding: 20px 0 0 26px;
	font-size: 24px;
	color: #202A2F;
}

.about{
	color: #202A2F;
	display:flex;
	font-size: 28px;
}
.about-us{
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 900px;
	margin: 0 auto;
}
.about-us p {
	margin-bottom: 3rem;
}

.about-us img{
	height: 50px;	
	width: 30px;
	margin:-4px 3px 0 0;
}

.monufactura{
	display: inline-flex;
	float: left;

}
.something{
	display: inline-flex;	
}
.voluem{
	display: inline-flex;
		float: right;
		
}	

.structure{
	display: flex;
}

.special-technology{
	display: flex;
}

.block-product{
	width: 520px;
}

.galochka{
	width: 26px;
	height: 25px;
	margin:6px 3px 0 -35px;
}

.block-btn{
	margin: 0 0 23px 0;
	width: 390px;
	height: 50px;
	font-size: 28px;
	padding-top: 2px;
}
.block-btn a{

	padding: 45px 0 0 0;
}

.lite{
	float: left;
	margin-bottom: 65px;
	
}

.press{
	float: right;
	margin-bottom: 65px;
}

.border{
	float: left;
	margin-bottom: 65px;
}

.stroi-blocks{
	float: right;
}

.truck{
	width: 500px;
	height: 480px;
	background: #202A2F;

}

.miniTruck{
	float: left;
	margin-bottom: 80px;

}

.bigTruck{
	float: right;
	margin-bottom: 80px;
}

.truck img{
	padding:40px 0 10px 0;
}

.kind{
	font-size: 41px;
}

.truck p{
	font-family: roboto regular;
	font-size: 30px;
	text-align: left;
	margin-left:60px ;
	line-height:80px;
	letter-spacing: 1.5px

}
.dilivery{
	margin-bottom: 200px; 
}

.dilivery a{
	margin: -7px 0 0 0;
}

.dilivery-btn p{
	margin: 16px 0 0 17px;
	line-height: 15px;
}


.galary{
	justify-content: space-between;
	margin-bottom: 425px;
}

.galary img{
	width: 30%;
}

footer{
	padding-top: 20px;
	background: #202A2F;
	justify-content: space-between;
	line-height: 41px;
	position: absolute;
	bottom: 0;
	width: 100%;

}

footer span{
	font-size:34px;
}
	

.minimap{
	float: left;
	display: grid;
	width: 290px;

    margin-right: -70px;
    margin-left: 66px;
    text-align: left;
    font-family: roboto;
}

.contacts{
	text-align: left;
	display: inline-flex;
	float: left;
	display: grid;
	width: 290px;
	font-family: roboto;

}


#map-container-google-2 iframe{
	height: 170px;
	width: 500px;
	float: left;
	margin-top: 13px;
	}
.map-container-2{
	float: left;
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;


}
.map-container-2 iframe{
	left:0;
	top:0;
	height:200px;
	width:100px;
	position:absolute;
}

.map-container{

}

.contacts img{
	height: 15px;
}

.calendar{
	margin:12px 0 0 0 ;
	display: flex;
	text-align: right;
	line-height: 17px;
}

.calendar img {
	margin: 0px 5px 0 0;
}

/*Responsive*/

/*992px-1200px*/
@media screen and (max-width: 1200px) {
	.navigation{
		display: none;
	}
	.menu-icon {
		float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
	.container{
		width: 960px;
	}
	h2{
		margin: 65px auto;
		float:none;
	}
	head{
		display: none;
	}
	.about-us{
		flex-direction: column;
	}
	.something{
		margin: 0;
	}
	.voluem{
		float: left;
	}
	.block-product{
		flex-direction: column;
		margin: 30px auto;
		float: none
	}
	.truck{
		float: none;
		margin: 30px auto;
	}
	#map-container-google-2 iframe{
		float: none;
	}

	.minimap{
		margin-left: 45px;	
	}
	
	#map-container-google-2 iframe{
		width: 370px;
	}
	

}

/*768px-992px*/
@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
	footer{
		font-size: 11PX;
	}
	.contacts{
		width: 170px;
		line-height: 31px;	
		margin-left: 100px;
	}
	.calendar{
		margin: 8px 0 0 0;
	}
	.minimap{
		width: 130px;
		margin-left: 0;
		line-height: 29px;
	}
	#map-container-google-2 iframe{
		width: 340px;
		height: 130px;
		margin-bottom: 15px;
		float: right;
	}
}

/*577px-768px*/
@media screen and (max-width: 768px) {
	.container{
		width: 540px;
	}
	.carousel-caption .d-none .d-md-block{
		width: 540px;
	}

	.monufactura{
		width: 530px;
	}
	.something{
		width: 530px;
	}
	.voluem{
		width: 530px;
	}

	.minimap{
		width: 150px;
	}
	.block-product{
		width: 500px;
	}
	.bg-line{
			border-radius: 0 0 15px 15px;
	}
	.first-img{
		margin-right: 30px;
	}
	.img-product img{
		width: 161px;
		height: 135px;
	}
	.structure p{
		font-size: 22px;
		width: 340px;
	}

	.galochka{
		width: 16px;
		height: 15px;
		margin: 6px 4px 0 -22px;

	}
	.block-btn{
		width: 290px;
	}
	#map-container-google-2 iframe{
		width: 160px;
	}
}


/*0px-576px*/
@media screen and (max-width: 576px) {


.container{
	width: 90%;
}

.carousel-inner img{
	 height: 300px;
	}
h1{
	font-size: 28px;
}
h3{
	font-size: 18px;
}
.btn{
	width: 170px;
	height: 30px;
	background: #C7462E;
	border: 1px	solid #C7462E;
	border-radius: 15px;
	font-size: 18px;
	font-weight: 700;
	color: #EDE1B5;
	margin-bottom: 25px;
	margin-top: 17px;
}

.about-us{
	width: auto;
	font-size: 15px;
}
.about-us img {
    height: 15px;
    width: 30px;
    margin: 1px 0px 0 0;
}

.monufactura{
	width: auto;
}

.something{
	width: auto;
}

.voluem{
	width: auto;
}

.galochka{
	margin-top: 2px;
}

.header-line{
	border-radius: 5px 5px 0 0;
}


.truck{
	width: auto;
	height: auto;
	border-radius: 5px
}

.truck p {
    font-size: 18px;
    margin-left: 20px;
    line-height: 45px;
    letter-spacing: 1.5px;
}
.truck a{
	margin-bottom: 35px;
}

.d-md-block{
	padding: 0;
}
.block-product{
	width: 290px;
}

.text-about{
	width: auto;
	padding-right: 20px;
	font-size: 14px;
}
.structure p{
	font-size: 14px;
}
.img-product img {
    width: 120px;
    height: 100px;
}
.block-btn{
	font-size: 18px;
	height: 37px;
	line-height: 15px
}
.dilivery{
	margin-bottom: 350px;
}
.dilivery a{
	margin-top: -8px;
}

.dilivery-btn{
	height: 35px;
	width: 215px;
}

.dilivery-btn p{
	letter-spacing: 1px;	
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 18px;
	line-height: 12px
}
.d-md-block p{
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 15px;
}
.carousel-control-next-icon{
	display: none;
}
.carousel-control-prev-icon{
	display: none;
}

.nav-container{
	padding: 0 15px 0 15px;
}

.mobile-nav{
	width: 320px;
	right: -320px;
}

/*-------------------footer-------------------*/
footer{
	justify-content: none;
}

.minimap{
	width: 108px;

}

.contacts{
	float: right;
	margin-left: 95px;
	text-align: right;
}
.calendar{
	margin-left: 62px;
}

.footer-contacts{
	justify-content: space-between;
}

#map-container-google-2 iframe{
	width: 307px;
	float: none;
}












}